/* font size classes */

.fs1 { font-size: 1px; }
.fs2 { font-size: 2px; }
.fs3 { font-size: 3px; }
.fs4 { font-size: 4px; }
.fs5 { font-size: 5px; }
.fs6 { font-size: 6px; }
.fs7 { font-size: 7px; }
.fs8 { font-size: 8px; }
.fs9 { font-size: 9px; }
.fs10 { font-size: 10px; }
.fs11 { font-size: 11px; }
.fs12 { font-size: 12px; }
.fs13 { font-size: 13px; }
.fs14 { font-size: 14px; }
.fs15 { font-size: 15px; }
.fs16 { font-size: 16px; }
.fs17 { font-size: 17px; }
.fs18 { font-size: 18px; }
.fs19 { font-size: 19px; }
.fs20 { font-size: 20px; }
.fs21 { font-size: 21px; }
.fs22 { font-size: 22px; }
.fs23 { font-size: 23px; }
.fs24 { font-size: 24px; }
.fs25 { font-size: 25px; }
.fs26 { font-size: 26px; }
.fs27 { font-size: 27px; }
.fs28 { font-size: 28px; }
.fs29 { font-size: 29px; }
.fs30 { font-size: 30px; }
.fs31 { font-size: 31px; }
.fs32 { font-size: 32px; }
.fs33 { font-size: 33px; }
.fs34 { font-size: 34px; }
.fs35 { font-size: 35px; }
.fs36 { font-size: 36px; }
.fs37 { font-size: 37px; }
.fs38 { font-size: 38px; }
.fs39 { font-size: 39px; }
.fs40 { font-size: 40px; }
.fs41 { font-size: 41px; }
.fs42 { font-size: 42px; }
.fs43 { font-size: 43px; }
.fs44 { font-size: 44px; }
.fs45 { font-size: 45px; }
.fs46 { font-size: 46px; }
.fs47 { font-size: 47px; }
.fs48 { font-size: 48px; }
.fs49 { font-size: 49px; }
.fs50 { font-size: 50px; }

/* font size class closed */



/* height classes start  */

.h1 { height: 1px; }
.h2 { height: 2px; }
.h3 { height: 3px; }
.h4 { height: 4px; }
.h5 { height: 5px; }
.h6 { height: 6px; }
.h7 { height: 7px; }
.h8 { height: 8px; }
.h9 { height: 9px; }
.h10 { height: 10px; }
.h11 { height: 11px; }
.h12 { height: 12px; }
.h13 { height: 13px; }
.h14 { height: 14px; }
.h15 { height: 15px; }
.h16 { height: 16px; }
.h17 { height: 17px; }
.h18 { height: 18px; }
.h19 { height: 19px; }
.h20 { height: 20px; }
.h21 { height: 21px; }
.h22 { height: 22px; }
.h23 { height: 23px; }
.h24 { height: 24px; }
.h25 { height: 25px; }
.h26 { height: 26px; }
.h27 { height: 27px; }
.h28 { height: 28px; }
.h29 { height: 29px; }
.h30 { height: 30px; }
.h31 { height: 31px; }
.h32 { height: 32px; }
.h33 { height: 33px; }
.h34 { height: 34px; }
.h35 { height: 35px; }
.h36 { height: 36px; }
.h37 { height: 37px; }
.h38 { height: 38px; }
.h39 { height: 39px; }
.h40 { height: 40px; }
.h41 { height: 41px; }
.h42 { height: 42px; }
.h43 { height: 43px; }
.h44 { height: 44px; }
.h45 { height: 45px; }
.h46 { height: 46px; }
.h47 { height: 47px; }
.h48 { height: 48px; }
.h49 { height: 49px; }
.h50 { height: 50px; }
.h51 { height: 51px; }
.h52 { height: 52px; }
.h53 { height: 53px; }
.h54 { height: 54px; }
.h55 { height: 55px; }
.h56 { height: 56px; }
.h57 { height: 57px; }
.h58 { height: 58px; }
.h59 { height: 59px; }
.h60 { height: 60px; }
.h61 { height: 61px; }
.h62 { height: 62px; }
.h63 { height: 63px; }
.h64 { height: 64px; }
.h65 { height: 65px; }
.h66 { height: 66px; }
.h67 { height: 67px; }
.h68 { height: 68px; }
.h69 { height: 69px; }
.h70 { height: 70px; }
.h71 { height: 71px; }
.h72 { height: 72px; }
.h73 { height: 73px; }
.h74 { height: 74px; }
.h75 { height: 75px; }
.h76 { height: 76px; }
.h77 { height: 77px; }
.h78 { height: 78px; }
.h79 { height: 79px; }
.h80 { height: 80px; }
.h81 { height: 81px; }
.h82 { height: 82px; }
.h83 { height: 83px; }
.h84 { height: 84px; }
.h85 { height: 85px; }
.h86 { height: 86px; }
.h87 { height: 87px; }
.h88 { height: 88px; }
.h89 { height: 89px; }
.h90 { height: 90px; }
.h91 { height: 91px; }
.h92 { height: 92px; }
.h93 { height: 93px; }
.h94 { height: 94px; }
.h95 { height: 95px; }
.h96 { height: 96px; }
.h97 { height: 97px; }
.h98 { height: 98px; }
.h99 { height: 99px; }
.h100 { height: 100px; }
.h101 { height: 101px; }
.h102 { height: 102px; }
.h103 { height: 103px; }
.h104 { height: 104px; }
.h105 { height: 105px; }
.h106 { height: 106px; }
.h107 { height: 107px; }
.h108 { height: 108px; }
.h109 { height: 109px; }
.h110 { height: 110px; }
.h111 { height: 111px; }
.h112 { height: 112px; }
.h113 { height: 113px; }
.h114 { height: 114px; }
.h115 { height: 115px; }
.h116 { height: 116px; }
.h117 { height: 117px; }
.h118 { height: 118px; }
.h119 { height: 119px; }
.h120 { height: 120px; }
.h121 { height: 121px; }
.h122 { height: 122px; }
.h123 { height: 123px; }
.h124 { height: 124px; }
.h125 { height: 125px; }
.h126 { height: 126px; }
.h127 { height: 127px; }
.h128 { height: 128px; }
.h129 { height: 129px; }
.h130 { height: 130px; }
.h131 { height: 131px; }
.h132 { height: 132px; }
.h133 { height: 133px; }
.h134 { height: 134px; }
.h135 { height: 135px; }
.h136 { height: 136px; }
.h137 { height: 137px; }
.h138 { height: 138px; }
.h139 { height: 139px; }
.h140 { height: 140px; }
.h141 { height: 141px; }
.h142 { height: 142px; }
.h143 { height: 143px; }
.h144 { height: 144px; }
.h145 { height: 145px; }
.h146 { height: 146px; }
.h147 { height: 147px; }
.h148 { height: 148px; }
.h149 { height: 149px; }
.h150 { height: 150px; }




.ml1 { margin-left: 1px; }
.ml2 { margin-left: 2px; }
.ml3 { margin-left: 3px; }
.ml4 { margin-left: 4px; }
.ml5 { margin-left: 5px; }
.ml6 { margin-left: 6px; }
.ml7 { margin-left: 7px; }
.ml8 { margin-left: 8px; }
.ml9 { margin-left: 9px; }
.ml10 { margin-left: 10px; }
.ml11 { margin-left: 11px; }
.ml12 { margin-left: 12px; }
.ml13 { margin-left: 13px; }
.ml14 { margin-left: 14px; }
.ml15 { margin-left: 15px; }
.ml16 { margin-left: 16px; }
.ml17 { margin-left: 17px; }
.ml18 { margin-left: 18px; }
.ml19 { margin-left: 19px; }
.ml20 { margin-left: 20px; }
.ml21 { margin-left: 21px; }
.ml22 { margin-left: 22px; }
.ml23 { margin-left: 23px; }
.ml24 { margin-left: 24px; }
.ml25 { margin-left: 25px; }
.ml26 { margin-left: 26px; }
.ml27 { margin-left: 27px; }
.ml28 { margin-left: 28px; }
.ml29 { margin-left: 29px; }
.ml30 { margin-left: 30px; }
.ml31 { margin-left: 31px; }
.ml32 { margin-left: 32px; }
.ml33 { margin-left: 33px; }
.ml34 { margin-left: 34px; }
.ml35 { margin-left: 35px; }
.ml36 { margin-left: 36px; }
.ml37 { margin-left: 37px; }
.ml38 { margin-left: 38px; }
.ml39 { margin-left: 39px; }
.ml40 { margin-left: 40px; }
.ml41 { margin-left: 41px; }
.ml42 { margin-left: 42px; }
.ml43 { margin-left: 43px; }
.ml44 { margin-left: 44px; }
.ml45 { margin-left: 45px; }
.ml46 { margin-left: 46px; }
.ml47 { margin-left: 47px; }
.ml48 { margin-left: 48px; }
.ml49 { margin-left: 49px; }
.ml50 { margin-left: 50px; }
.ml51 { margin-left: 51px; }
.ml52 { margin-left: 52px; }
.ml53 { margin-left: 53px; }
.ml54 { margin-left: 54px; }
.ml55 { margin-left: 55px; }
.ml56 { margin-left: 56px; }
.ml57 { margin-left: 57px; }
.ml58 { margin-left: 58px; }
.ml59 { margin-left: 59px; }
.ml60 { margin-left: 60px; }
.ml61 { margin-left: 61px; }
.ml62 { margin-left: 62px; }
.ml63 { margin-left: 63px; }
.ml64 { margin-left: 64px; }
.ml65 { margin-left: 65px; }
.ml66 { margin-left: 66px; }
.ml67 { margin-left: 67px; }
.ml68 { margin-left: 68px; }
.ml69 { margin-left: 69px; }
.ml70 { margin-left: 70px; }
.ml71 { margin-left: 71px; }
.ml72 { margin-left: 72px; }
.ml73 { margin-left: 73px; }
.ml74 { margin-left: 74px; }
.ml75 { margin-left: 75px; }
.ml76 { margin-left: 76px; }
.ml77 { margin-left: 77px; }
.ml78 { margin-left: 78px; }
.ml79 { margin-left: 79px; }
.ml80 { margin-left: 80px; }
.ml81 { margin-left: 81px; }
.ml82 { margin-left: 82px; }
.ml83 { margin-left: 83px; }
.ml84 { margin-left: 84px; }
.ml85 { margin-left: 85px; }
.ml86 { margin-left: 86px; }
.ml87 { margin-left: 87px; }
.ml88 { margin-left: 88px; }
.ml89 { margin-left: 89px; }
.ml90 { margin-left: 90px; }
.ml91 { margin-left: 91px; }
.ml92 { margin-left: 92px; }
.ml93 { margin-left: 93px; }
.ml94 { margin-left: 94px; }
.ml95 { margin-left: 95px; }
.ml96 { margin-left: 96px; }
.ml97 { margin-left: 97px; }
.ml98 { margin-left: 98px; }
.ml99 { margin-left: 99px; }
.ml100 { margin-left: 100px; }





.cw { color: white;}
.cw:hover { color:rgba(43, 237, 13, 0.999);}


.bg-black { background: black;}

.c-ow { color: rgb(192, 181, 181);}
.c-ow:hover { border-bottom: 1px solid rgb(192, 181, 181);;}

.c-Lw { color: rgb(192, 181, 181);}

.imgh {transition: 0.5s;}
.imgh:hover{ transform: scale(1.3); transition: 0.2s; overflow: hidden;} 